.header-menu {
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo h1 a {
  text-decoration: none;
  color: black;
}
nav {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 800;
  font-size: 1.2rem;
}
nav ul li:nth-child(5) {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-top: 1%;
}
.user {
 
}
.user select {
  width: 100%;
  background-image: url(../../images/user.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 1rem;
}

.header-menu button {
  text-transform: uppercase;
  color: black;
  font-weight: 800;
  font-size: 1.2rem;
  text-align: center;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}
.header .menu,
.header .close {
  display: none;
}
/* mobile responsive */
@media only screen and (max-width: 650px) {
  .header {
    padding: 0 3%;
  }
  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    width: auto;
  }

  /* nav ul {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    opacity: 0.97;
    transition: 0.5s linear;
  } */
  nav ul li {
    padding: 5%;
  }
  nav .nav-cart {
    /* position: relative; */
  }
  .header .menu,
  .header .close {
    display: block;
  }
  /* .header .close {
    position: absolute;
    top: 10%;
    right: 10%;
  } */
  .toggle {
    transform: translateY(-100%);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    opacity: 0.97;
    transition: 0.5s linear;
  }
  .notToggle {
    /* transform: translateY(100%); */
    width: 100%;
    background-color: rgba(255, 255, 255, 0.736);
    /* padding-top: 5%; */
    /* height: 100vh; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    opacity: 0.97;
    transition: 0.5s linear;
  }
}
